<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학업성취도 평가시스템</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" type="image/x-icon" href="https://konestaticfiles.s3.ap-northeast-2.amazonaws.com/static/favicon.ico">
</head>
<body>
    <!-- 헤더 포함 -->
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- 로그인 폼 -->
    <div class="login-container">
        <h1>학업성취도 평가시스템 대시보드</h1>
        <form class="login-form" th:action="@{/login}" method="post">
            <label for="username">관리자 로그인</label>
            <input type="text" id="username" name="username" placeholder="아이디를 입력하세요" required>
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
            <button type="submit">로그인</button>
        </form>
    </div>
</body>
</html>
